In [4]:
# The code was removed by DSX for sharing.

# Calculating The Mean Of Movie Ratings

In this notebook we are going to calculate the mean of the movie ratings by using spark.

First, you should install the <a href="http://files.grouplens.org/datasets/movielens/ml-latest-small.zip">data</a> and unzip it.

For the purpose of this notebook, we are going to use only the ratings.csv file.

Next we need to remove the first line of ratings.csv and upload it. 

After that click insert to code > insert spark RDD.

In [5]:
data = sc.textFile("""Paste the path from the autogenerated code""")

In [6]:
# In order to see the structure of the data
data.take(5)
# we take 5 of them

[u'1,31,2.5,1260759144',
 u'1,1029,3.0,1260759179',
 u'1,1061,3.0,1260759182',
 u'1,1129,2.0,1260759185',
 u'1,1172,4.0,1260759205']

The only thing of our interes is ratings, and it is in the third column.
If we know hot parse a row, we can appy to all rows by using spark's map method.

In [7]:
# Lets play with the first row
a_row = u'1,31,2.5,1260759144'
float(a_row.split(",")[2])
# here we split it take the third column and conver it to float in one line.

2.5

In [8]:
# however in order to make our spark code more readable we can seperete those tasks.
ratings = data.map(lambda a_row: a_row.split(","))\
    .map(lambda lis: lis[2])\
    .map(float)
    
total_rating = ratings.reduce(lambda x,y : x+y)

In [9]:
num_or_rating = ratings.count()

In [10]:
mean = total_rating/num_or_rating

In [11]:
print mean

3.54360825567